@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CarsListViewModel
@{
    Layout = "_Layout";
}

<h1>@Model.CurrentCategory</h1>
<h3>Все автомобили</h3>
<div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        @{
            foreach (var car in Model.AllCars)
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="card-img-top" src="@car.Image" alt="@car.Name">
                        <div class="card-body">
                            <p class="card-text">Модель: @car.Name</p>
                            <p class="card-text">@car.ShortDesc</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" href="#" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                                </div>
                                <small class="text-muted">@car.Price.ToString("c")</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        
    </div>
</div>